
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&display=swap');

body {
    font-family: "Playwrite GB J", cursive;
}
.main {
    display: flex;
    width: 100%;
}
.header {
    border: solid gainsboro 1px;
    width: 1169px;
    height: 128px;
}
.Sushi {
    text-align: center;
    font-size: 30px;
}
.qw {
    border-right: solid gainsboro 1px;
}
.h {
    width: 100%;
    align-items: center;
}